[submodule "Libraries/Ace3"]
	path = Libraries/Ace3
	url = https://github.com/CDAGaming/Ace3-Official.git
[submodule "Libraries/WagoAnalytics"]
	path = Libraries/WagoAnalytics
	url = https://github.com/wagoio/WagoAnalyticsShim.git
